@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Black+Han+Sans&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Platypi:ital,wght@0,300..800;1,300..800&family=Playwrite+AR:wght@100..400&family=Playwrite+BE+VLG:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8e8e8ee1;
}

.encabezado {
    text-align: center;
    padding: 20px;
    background-color: #007bff;
    color: white;
    width: 100%;
    margin-top: 60px;
    max-width: 800px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.main {
    gap: 20px;
    padding: 20px;
    max-width: 800px;
    width: 100%;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.contenedor-evaluacion {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.lista-ejercicios__ejercicio {
    margin-bottom: 10px;
    margin-left: 20px;
}